@import "../general.scss";

$pink: #b21c53;
$gray-light: #e8e8e8;

body {
  margin: 2rem;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  .company-logo {
    height: 5rem;
  }

  #client-details,
  #company-details,
  #company-address {
    display: flex;
    flex-direction: column;
  }

  #client-details > *:first-child {
    font-weight: bold;
  }

  .company-info-wrapper > * {
    margin-bottom: 1rem;
  }
}

.entity-label-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 3rem;

  .entity-label > * {
    font-size: 3rem;
  }

  .entity-label > *:first-child {
    text-transform: uppercase;
  }

  .entity-label > *:last-child {
    color: $pink;
    font-style: italic;
  }

  #entity-details {
    text-align: left;
    > tr,
    th {
      font-weight: normal;
    }
  }
}

#product-table {
  margin-top: 3rem;
  min-width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  border-top: 5px solid $pink;

  > thead {
    text-align: left;
    > tr > th {
      font-size: 1.1rem;
      padding: 1rem;
    }
    > tr > th:last-child {
      text-align: right;
    }
  }

  > tbody {
    > tr {
      > td:last-child {
        text-align: right;
      }
      > td {
        padding: 1rem;
      }
    }
    > tr:nth-child(odd) {
      background-color: $gray-light;
    }
  }
}

#product-table-footer > {
  * {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding-top: 1rem;

    [data-element="product-table-balance-due"] {
      font-weight: bold;
      color: $pink;
    }

    > * {
      padding-left: 1rem;
    }
  }

  *:last-child > * {
    border-top: 5px solid $pink;
    padding-top: 1rem;
  }

  * > :last-child {
    text-align: right;
    padding-right: 1rem;
  }
}
